import(rphast)
import(rtfbs)
import(parallel)
import(grid)
import(cluster)
import(methods)
import(lattice)
import(latticeExtra)
import(apcluster)
import(vioplot)
import(tools)
import(rtfbsdb)
import(bigWig)
import(DESeq2)
import(gplots)


export(diffTXN)
export(searchTFBS)
export(filter.rtfbsdb)
export(mapTF)

S3method(print, tfTarget)
S3method(summary, tfTarget)
S3method(plot, tfTarget)


